*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Fichiers de secrets et clés API
secrets.gradle
api-keys.properties
*.key
*.env
app/src/main/res/values/secrets.xml  # Ajout de secrets.xml
app/src/main/res/values/google_maps_api.xml