# Android / IntelliJ
.idea/
*.iml
.gradle
local.properties
/build
/captures
.externalNativeBuild
.cxx

# Mac
.DS_Store

# Secrets
secrets.gradle
api-keys.properties
*.key
*.env
app/src/main/res/values/secrets.xml